<div class="main-container">
    <h2 class="text-4xl font-semibold text-center mb-5">Vision & Values</h2>
    <section class="grid grid-cols-1 gap-y-3 divide-y">
        {% accordion  "Are you a startup?", "No, not at the moment. It's simply an open-source project." %}
        {% accordion  "Are you collecting my data?", "We don't track any of your activity within the app. Our data collection is limited to crash reports only, which helps us identify and fix bugs. You can verify this by examining our open-source code. We take your privacy seriously and do not monitor any of your actions within the app." %}
        {% accordion  "What is your goal?", "Our objective is to develop a resilient AI-powered application that helps users identify the type of waste they are disposing of and offers guidance on proper disposal methods." %}
        {% accordion  "Why D.Waste?", "The 'D' in D.Waste stands for 'Deep', indicating that the app leverages deep learning to effectively classify waste." %}
        {% accordion  "How do you calculate carbon footprints?", "We map the carbon footprints of each material based on the data provided in the research paper 'Greenhouse Gas Emission Factors for Recycling of Source-Segregated Waste Materials' and use it for calculation." %}
        {% accordion  "How are you different?", "Unlike many other applications, we prioritize user privacy by not tracking your in-app activity. As a non-profit initiative driven by global climate activists, D.Waste is an open-source project aimed solely at promoting environmental awareness. We do not seek to profit from our users and do not employ tactics like bottomless feeds or auto-play to retain your attention. Since we do not track user data, your feedback is incredibly valuable to us as we strive to tailor the app to your needs and preferences. At D.Waste, we recognize you as a human being, not merely a set of numbers or statistics on a screen." %}
        {% accordion  "Is everyone doing greenwashing?", "It's challenging to assert that everyone is involved in greenwashing. While certain companies genuinely prioritize sustainability, others might resort to greenwashing tactics to present a more environmentally friendly image. It is crucial for all of us to work together to combat climate change, bearing in mind that anything not open-source implies business as usual. If you observe that an organization is not transparent about its practices, it suggests that their motives are driven by profit and survival rather than actively contributing to mitigating climate change and promoting sustainable lifestyles. We refrain from selling anything, and our entire approach is completely open to everyone." %}
    </section>
</div>