<div class="main-container flex flex-col md:flex-row items-center">
    <div class="flex-1">
        <h2 class="text-4xl font-semibold mb-5">Milestones</h2>
    </div>
    <div class="flex-1">
        <ol class="relative border-l border-gray-200">
            <li class="mb-10 ml-4">
                <div class="timeline"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400">January 2024
                </time>
                <p class="mb-4 text-base">
                    Research paper based on Transfer Learning using new Garbage dataset was submitted for peer-review in <a target="_blank" rel="noopener" href="https://tecnoscientifica.com/journal/idwm"> Industrial and Domestic Waste Management Journal</a>. For pre-prints visit <a target="_blank" rel="noopener" href="https://arxiv.org/abs/2402.09437"> arXiv:2402.09437</a>
                </li>
                <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">December 2023
                    </time>
                    <p class="mb-4 text-base">
                        v2.0 : Garbage dataset released for public in  <a target="_blank" rel="noopener" href="{{ site.dataset_url }}"> Kaggle </a> </p>
                </li>

                <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">
                        July 2023</time>
                    <p class="mb-4 text-base">
                        Research paper published in <a target="_blank" rel="noopener" href="{{ site.ctr_url }}">Clean Technologies and Recycling Journal</a></p>
                </li>
                <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">March 2023</time>
                    <p class="mb-4 text-base">
                        v1.0.0 : App published in <a target="_blank" rel="noopener" href="{{ site.app_store_url }}">App Store</a></p>
                </li>
                 <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">
                        February 2023</time>
                    <p class="mb-4 text-base">
                        Selected as the top 10 products of the day in <a target="_blank" rel="noopener" href="{{ site.producthunt_link }}">Product Hunt</a></p>
                </li>
                <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">
                        February 2023</time>
                    <p class="mb-4 text-base">
                        v0.0.1: App released in <a target="_blank" rel="noopener" href="{{ site.play_store_url }}">Play Store</a></p>
                </li>
                <li class="mb-10 ml-4">
                    <div class="timeline"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">
                        October 2019</time>
                    <p class="mb-4 text-base">
                        Idea <a target="_blank" rel="noopener" href="{{ site.pitch_url }}">pitch </a></p>
                </li>
            </ol>
        </div>
    </div>