
<div class="py-14">
    <div class="main-container mb-8">
        <h1 class="text-4xl font-semibold mb-5">Features</h1>
        <p class="text-lg">{{site.name}} offers features like AI-assisted learning, progress tracking, reward points for proper disposal, and a mission to make the Earth cleaner.</p>
       
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 pb-4 pt-14">
            <div>
                <h3 class="text-xl font-medium mb-5">🚮🔍 Waste Identification</h3>
                <p class="text-lg">
                    By simply taking a picture of waste, the app identifies the waste type.</p>
            </div>
            <div>
                <h3 class="text-xl font-medium mb-5">🏆👤 Reward User</h3>
                <p class="text-lg"> User is rewarded with points for disposing waste properly.
                </p>
            </div>
            <div>
                <h3 class="text-xl font-medium mb-5">🌍🧠 Waste Awareness</h3>
                <p class="text-lg">The app provides helpful tips for managing different types of waste.</p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-5">
            
            <div>
                <h3 class="text-xl font-medium mb-5">📶🚫 Offline Support</h3>
                <p class="text-lg"> The app works without an internet connection.</p>
            </div>
            <div>
                <h3 class="text-xl font-medium mb-5">📚🕰️ Manages History</h3>
                <p class="text-lg">The app stores managed waste and associated points on the device for future references.</p>
            </div>
        </div>
    </div>
</div>

{% include "index/app-workflow.njk" %}
