<div class="main-container">
    <div class="flex flex-col md:flex-row items-center pt-10 pb-36">
        <div class="flex-1 py-10 px-0 md:px-14">
            <h1 class="text-5xl mb-5">Put trash in its place with D.Waste</h1>
            <p class="text-lg">Managing waste are now so much easier thanks to our AI engine. By taking a picture of the waste, users can determine its type and receive rewards for properly disposing of it. The app also provides suggestions on how to dispose of the waste correctly.</p>
            <a href="#download" class="no-underline">
                <button class="bg-[#0F853B] hover:bg-[#27914f] rounded-half text-white font-bold py-3 px-6 rounded inline-flex items-center w-full sm:w-auto text-center justify-center ">
                    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/>
                    </svg>
                    <span>Download</span>
                </button>
            </a>
        </div>
        {% phoneMockup  "/assets/images/pages/index/prediction.png" %}
    </div>
</div>