{% waveDivider true,
"#f3f8f5" %}
<div class="bg-[#f3f8f5] py-14">
    <div class="main-container">
        <div class="py-0">
            <h2 class="text-4xl font-semibold mb-5">REST API</h2>
            <p class="text-lg">
                 We have made the waste classification API public. To access it, please visit <a target="_blank" rel="noopener" href="{{ site.rest_api_url }}">here</a>.
            </p>
        </div>
        
        <div class="grid gap-6 items-center">
            <img
                    class="max-w-full h-auto"
                    src="/assets/images/pages/demo/rest-api.png"
                    alt="rest-api"
                />
        </div>
    </div>
</div>
{% waveDivider false,
"#f3f8f5" %}