<div class="main-container">
    <h1 class="text-4xl sm:text-4xl md:text-4xl font-semibold mb-5">Demo</h1>
    <h2 class="text-lg mb-5">
        Upload an image of waste and let our AI engine classify it for you.
    </h2>

    <div class="hero"> 
      <label for="input-file" id="drop-area">
       <input type="file" accept="image/*" id="input-file" hidden> 
       <div id="img-view">
        <img src="/assets/images/pages/demo/upload.png"  alt="upload image"/>
        <p>Drag and drop or click here <br/> to upload an image.</p>
       </div>
      </label>
    </div>
    <h2 class="text-lg mb-5" id="predicted-result">
        
    </h2>
    <div class="bg-yellow-200 border-l-4 border-yellow-500 text-gray-800 p-4 w-full rounded-md shadow-md flex mb-8">
        <span class="block font-semibold mr-2"> ⚠️Note:</span>
        <span>We're learning, but sometimes we make mistakes! Submit waste photos through our app to help us learn and reduce waste ♻️. Let's protect our planet together 🌍💜!</span>
    </div>
</div>
