---
layout: baseWithMenuFullWidth
title: About
tags: page
order: 2
---

<div class="main-container">
    <h1 class="text-4xl sm:text-5xl md:text-6xl mb-5">About</h1>
    <h2 class="text-lg mb-5">
        D.Waste is as an open source AI-powered app that enables users to identify the type of waste they are trying to dispose of and provides guidance on how to do so correctly. The app offers a rewards program to incentivise proper waste management, and users can earn points for correctly identifying and disposing of waste.
    </h2>
     <h2 class="text-lg mb-5">
        The app also provides educational resources on waste management and tracks the user's progress over time. Deep Waste is currently available on 
        the <a target="_blank" rel="noopener" href="{{ site.app_store_url }}"> App Store </a> and <a target="_blank" rel="noopener" href="{{ site.play_store_url }}">Google Play Store</a>. 
    </h2>
</div>
<div class="h-24"></div>
{% include "about/we-care-about-you.njk" %}
<div class="h-24"></div>
{% include "about/milestones.njk" %}
<div class="h-24"></div>
{% include "about/contribute.njk" %}
<div class="h-24"></div>
{% include "about/faq.njk" %}