---
layout: baseWithMenuFullWidth
title: 
tags: page
order: 1
description: Our AI engine makes waste management much easier. Users can simply take a picture of the waste to determine its type and receive rewards for proper disposal. The app also offers suggestions on how to dispose of the waste correctly.
---

{% include "index/intro.njk" %}
{% include "index/track-what-you-do.njk" %}
{% include "index/features.njk" %}
{% include "index/download.njk" %}