---
layout: baseWithMenuFullWidth
title: Partners
tags: page
order: 5
description: Collaborate with leading organizations dedicated to sustainable waste management and environmental conservation. Become a partner today to help promote AI-powered solutions for a cleaner, greener planet. Fill out our partner application form to get started.
---

{% include "partners/our-partners.njk" %}

<div class="h-10"></div>

{% include "partners/become-a-partner.njk" %}