---
layout: baseWithMenuFullWidth
title: 'Privacy Policy'
tags: page
---

<div class="main-container">

<h1 class="text-4xl font-semibold mb-5">Privacy policy for the {{site.name}} application</h1>


<div class="whitespace-pre-line mb-1">
  <span class="font-bold"> - Who is the owner of the application?</span>
  Suman Kunwar.
</div>

<div class="whitespace-pre-line mb-1">
  <span class="font-bold"> - What type of data is collected and how is it collected?</span>
  Data is collected anonymously in the form of crash logs using Sentry software.
</div>

<div class="whitespace-pre-line mb-1">
  <span class="font-bold"> - What is the legal basis for data collection?</span>
  The user has consented to the processing of his or her non-personal data for the purpose of analysing application crashes.
</div>

<div class="whitespace-pre-line mb-1">
  <span class="font-bold"> - For what specific purposes do you collect this data?</span>
  The data is collected anonymously in order to prevent future application crashes.
</div>

<div class="whitespace-pre-line mb-1">
  <span class="font-bold"> - Which third parties will have access to this information?</span>
  No third parties have access to this data.
</div>

<div class="whitespace-pre-line mb-1">
  <span class="font-bold"> - What rights do users have?</span>
  Users cannot request the deletion of crash data, as it is anonymous and automatically deleted after 90 days.
</div>

<div class="whitespace-pre-line mb-1">
  <span class="font-bold"> - What is the process for notifying users and visitors of changes or updates to the confidentiality policy?</span>
  When there is a software update, users can visit this page to consult the changes.
</div>


<div class="whitespace-pre-line mb-1">
  <span class="font-bold"> - When does the privacy policy come into effect?</span>
  1 January 2024.
</div>

</div>