<footer class="text-black pb-4 sm:pt-20 md:pt-32 main-container flex-row md:flex px-2 md:px-0">
    <div class="pt-1 pb-3 md:pb-0 text-center md:text-left">
        <p class="text-gray-500 inline-block align-middle">{{ site.author }} - GPLv3</p>
    </div>
    <div class="flex-1"> <div id="wcb" class="carbonbadge flex-shrink-0"></div> </div>
    <div class="flex-none mt-4 md:mt-0">
        <div class="flex justify-around items-center space-x-2 md:space-x-6">
            {% if site.dribble_url %}
                <a aria-label="dribbble" target="_blank" rel="noopener" href="{{ site.dribble_url }}">
                    <svg class="fill-gray-500 hover:hover-link" width="26px" height="26px">{% svg "dribbble" %}</svg>
                </a>
            {% endif %}
            {% if site.poeditor_url %}
                <a aria-label="poeditor" target="_blank" rel="noopener" href="{{ site.poeditor_url }}">
                    <svg class="fill-gray-500 hover:hover-link" width="26px" height="26px">{% svg "language" %}</svg>
                </a>
            {% endif %}
            {% if site.github_url %}
                <a aria-label="github" target="_blank" rel="noopener" href="{{ site.github_url }}">
                    <svg class="fill-gray-500 hover:hover-link" width="26px" height="26px">{% svg "github" %}</svg>
                </a>
            {% endif %}
            {% if site.figma_url %}
                <a aria-label="figma" target="_blank" rel="noopener" href="{{ site.figma_url }}">
                    <svg class="fill-gray-500 hover:hover-link" width="26px" height="26px">{% svg "figma" %}</svg>
                </a>
            {% endif %}
            {% if site.email_url %}
                <a aria-label="email" target="_blank" rel="noopener" href="{{ site.email_url }}">
                    <svg class="fill-gray-500 hover:hover-link" width="26px" height="26px">{% svg "email" %}</svg>
                </a>
            {% endif %}
            {% if site.instagram_url %}
                <a aria-label="email" target="_blank" rel="noopener" href="{{ site.instagram_url }}">
                    <svg class="fill-gray-500 hover:hover-link" width="26px" height="21px">{% svg "instagram" %}</svg>
                </a>
            {% endif %}
            {% if site.facebook_url %}
                <a aria-label="email" target="_blank" rel="noopener" href="{{ site.facebook_url }}">
                    <svg class="fill-gray-500 hover:hover-link" width="26px" height="26px">{% svg "facebook" %}</svg>
                </a>
            {% endif %}
            {% if site.producthunt_url %}
                <a href="https://www.producthunt.com/products/deep-waste?utm_source=badge-follow&utm_medium=badge&utm_souce=badge-deep&#0045;waste" target="_blank">
                    <img src="https://api.producthunt.com/widgets/embed-image/v1/follow.svg?product_id=521140&theme=light&size=small" alt="Deep&#0032;Waste - Making&#0032;waste&#0032;management&#0032;fun&#0032;and&#0032;easy&#0032;&#0032; | Product Hunt" style="width: 86px; height: 32px;" width="86" height="32" />
                </a>
            {% endif %}
            
        </div>
    </div>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
</footer>